---
import Layout from "../../layouts/Layout.astro";
import { StoreSearch } from "../../components/shop/StoreSearch";
import { Result } from "../../components/shop/Result";

type Props = {
  q?: string
  area?: string
  categories?: string[]
  currentLat?: string
  currentLng?: string
};
---

<Layout title="店舗検索｜Astroサンプル" menu="store">
  <div class="flex h-screen">
    <div class="w-1/4">
      <StoreSearch client:only="react"/>
    </div>
    <div class="w-3/4">
      <div class="relative h-full w-2/3">
        <Result client:only="react"/>
      </div>
    </div>
  </div>  
</Layout>