---
import Layout from "../../layouts/Layout.astro";
import { Spinner } from '../../components/shop/Spinner';
// import Search from '../../components/shop/Search';
import { Result } from "../../components/shop/Result";
// import Results from './_components/Results'

type Props = {
  q?: string
  area?: string
  categories?: string[]
  currentLat?: string
  currentLng?: string
};

const KYOTO_STATION_LOCATION = { lat: 34.985109, lng: 135.758829 };
const searchParams:Props = {};
const {
  q = '',
  area = '',
  categories = [],
  currentLat = KYOTO_STATION_LOCATION.lat.toString(),
  currentLng = KYOTO_STATION_LOCATION.lng.toString()
} = searchParams;
---

<Layout title="Astroサンプル" menu="top">
  <div class="flex h-screen">
    <div class="w-1/4">
    </div>
    <div class="w-3/4">
      <div class="relative h-full w-2/3">
        <Result
          client:only="react"
          q={q}
          area={area}
          categories={Array.isArray(categories) ? categories : [categories]}
          currentLat={currentLat}
          currentLng={currentLng}
        />
      </div>
    </div>
  </div>  
</Layout>