---
import Layout from "../layouts/Layout.astro";
import NewArrival from "../components/NewArrival.astro";
import { BookList } from "../components/BookList";
import { getBooks } from "../lib/getBooks";

const limit = import.meta.env.NEW_ARRIVALS_LIMIT;
const { contents: newArrivals } = await getBooks({ limit, fields: ["id", "owner", "image", "categories", "title"] });
---

<Layout title="Search - Astro" menu="search">
  <main>
    <!-- Search Results -->
    <div class="bg-white">
      <div class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Search Result</h2>
        <BookList client:only="react" />
      </div>
    </div>
    <!-- End Search Results -->

    <!-- Recommends -->
    <div class="bg-white">
      <div
        class="mx-auto max-w-2xl py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8"
      >
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
          New Arrivals
        </h2>
        <div
          class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8"
        >
          {
            newArrivals.map((book) => (
              <NewArrival {...book} />
            ))
          }
        </div>
      </div>
    </div>
    <!-- End Recommends -->
  </main>
</Layout>