---
import { getMainVisual } from '../lib/getMainVisual';

const { mainVisual } = await getMainVisual();
---

<div class="px-4 lg:px-8">
  <div class="relative">
    <div class="swiper hs-carousel relative overflow-hidden w-full h-[30rem] md:h-[calc(100vh-106px)] bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <div class="swiper-wrapper">
        <!-- Item -->
        {mainVisual.map((mv, index) => (
          <div class="swiper-slide">
            {mv?.link ? (
              <a href={mv.link} target="_blank" rel="noopener noreferrer">
                <img
                  src={mv.image.url}
                  width={mv.image?.width ?? '1500'}
                  height={mv.image?.height ?? '400'}
                  loading={index == 1 ? 'eager' : 'lazy'}
                />
              </a>
            ) : (
              <img
                src={mv.image.url}
                width={mv.image?.width ?? '1500'}
                height={mv.image?.height ?? '400'}
                loading={index == 0 ? 'eager' : 'lazy'}
              />
            )}
            
          </div>
        ))}
        <!-- End Item -->
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>

    <div class="swiper-scrollbar"></div>
  </div>
</div>

<script>
  import Swiper from 'swiper'
  import { Navigation } from 'swiper/modules'
  import 'swiper/css/bundle'

  export const swiperConfig = {
    modules: [Navigation],
    // Optional parameters
    loop: true,

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  }

  const swiper = new Swiper('.swiper', swiperConfig)
</script>